@font-face {
    font-family: Inter;
    src: url(Inter/static/Inter-Regular.ttf);
}
@font-face {
    font-family: Inter Bold;
    src: url(Inter/static/Inter-ExtraBold.ttf);
}
main{
    padding: 0 10;
}
body{
width: 24px;
height: 22px;
left: 372px;
top: 41px;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    

img{
    width: 198px;
    height: 36px;
    margin-right: 130px;
}
}
.hero{

width: 482.62px;
height: 448px;
left: 32px;
font-family: "Inter";
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;  
}
h1{
    font-family: 'Inter bold';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
h6{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #555555;
margin: 0px;
}
img{
float: right;
width: 189.62px;
height: 278px;
}
button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
        width: 188px;
        height: 75px;
        border: 4px transparent;
        border-radius: 100px;
        background-image: linear-gradient(white, white), radial-gradient(circle at top left, #FF3998,#FF8139,#39FFA0,#FF3939);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }
    .upsell{
        display: flex;
        align-items: center;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
width: 428px;
height: 326px;
background-image: url(assets/background.svg);
background-repeat: no-repeat;
background-position: center;
img{
width: 428px;
height: 326px;
}
h2{
    font-size: 40px;
}
}
    .press{
width: 428px;
height: 117px;
.button{
    justify-content: space-between;
    border: none;
    background-color: white;
}
    }
    .showcase{
        width: 428px;
        height: 326px;
        
        h6{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #555555;
            margin: 0px;
            }
    }

    



